.content_data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.anime_img_data {
    width: 200px;
    height: 295px;
}

.side-info {
    display: flex;
    gap: 20px;
}

.noticies {
    width: 250px;
    background-color: gray;
    padding: 20px;
}

.image_notice {
    width: 70px;
    height: 70px;
    border-radius: 10px;
}

.box-notice {
    display: flex;
    gap: 10px;
    align-items: center;
}

.container_comment {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.form-comment {
    margin-bottom: 30px;
}

.content_comments {
    display: flex;
    gap: 10px;
}

.comment_img {
    width: 50px;
    border-radius: 50px;
}